<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>-->
    <ul class="nav navbar-nav">
      <li><a routerLink='/users' routerLinkActive='active' >Users</a></li>
    </ul>
  </div>
</nav> 

