<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor="let user of userList"  (click)="gotoUserAlbums(user.id)">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
        </tr>

      </tbody>
    </table>
  </div>