<div>
  <button (click)="gotoBack()">Back</button>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let album of userAlbums" (click)="gotoPhotos(album.id)" >
        <td>{{album.id}}</td>
        <td>{{album.title}}</td>
      </tr>

    </tbody>
  </table>
</div>